<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <CodeCoverage>
            <ModulePaths>
              <Include><ModulePath>.*CodexMicro\.(Core|Windows)\.dll$</ModulePath></Include>
            </ModulePaths>
            <EnableStaticNativeInstrumentation>false</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>false</EnableDynamicNativeInstrumentation>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
