<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>com.gantrol.codex-micro-monitor.desktop</string>
<key>CFBundleExecutable</key><string>MicroDesktop</string>
<key>CFBundlePackageType</key><string>BNDL</string>
<key>CFBundleVersion</key><string>315.5</string>
<key>NSPrincipalClass</key><string>MicroDesktopBridge</string>
</dict></plist>
